<div class="header-container">
  <div class="wrapper">
    <h1>Query settings</h1>
  </div>
</div>

<div id="settings-container">
  <div class="wrapper">
    <div class="alert alert-success" ng-show="setup_saved">
      Settings has been saved, you can now start <a href="#/">the query</a>!
    </div>
    <div mathjax-bind="test"></div>
    <form ng-submit="setup()">
      <div class="form-group">
        <label>Participant ID</label>
        <input type="text" class="form-control" ng-model="settings.participant_id" required placeholder="Participant ID" autofocus>
      </div>

<!--
      <div class="form-group">
        <label>Task type</label>
        <div class="radio">
          <label>
            <input type="radio" ng-model="settings.task_type" value="0">
            Exploratory
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="settings.task_type" value="1">
            Look up
          </label>
        </div>
      </div>

      <div class="form-group">
        <label>Study type</label>
        <div class="radio">
          <label>
            <input type="radio" ng-model="settings.study_type" value="1">
            Full system
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="settings.study_type" value="2">
            Baseline
          </label>
        </div>
      </div>
-->
      <div class="form-group">
        <label>Select system:</label>
        <div class="radio">
          <label><input type="radio" ng-model="settings.model" value="lookup">Lookup search (exploration = 0.0)</label>
        </div>
        <div class="radio">
          <label><input type="radio" ng-model="settings.model" value="exploratory">Exploratory search (exploration = 1.0)</label>
        </div>
        <div class="radio">
          <label><input type="radio" ng-model="settings.model" value="classifier">Classification model</label>
        </div>
        <div class="radio">
          <label><input type="radio" ng-model="settings.model" value="regression">Regression model</label>
        </div>
      </div>

      <div class="form-group">
        <label>Knowledge level:</label>
        <div class="radio">
          <label><input type="radio" ng-model="settings.knowledge_level" value="2">2</label>
        </div>
        <div class="radio">
          <label><input type="radio" ng-model="settings.knowledge_level" value="3">3</label>
        </div>
        <div class="radio">
          <label><input type="radio" ng-model="settings.knowledge_level" value="4">4</label>
        </div>
      </div>
<!--
      <div class="form-group">
        <label>Exploration rate</label>
        <input type="text" placeholder="Exploration rate" class="form-control" required ng-model="settings.exploration_rate">
      </div>
-->
      <div class="form-group">
        <label>Search query</label>
        <input type="text" placeholder="Search query" class="form-control" required ng-model="settings.search_query">
      </div>

      <div class="form-group">
        <label>Number of articles per iteration</label>
        <input type="text" placeholder="Number of articles" class="form-control" required ng-model="settings.article_count">
      </div>

      <div class="form-group">
        <label>Number of iterations</label>
        <input type="text" placeholder="Session duration" class="form-control" required ng-model="settings.query_iterations">
      </div>
<!--
      <div class="form-group">
        <label>Time limit (minutes)</label>
        <input type="text" placeholder="Query time" class="form-control" required ng-model="settings.query_time">
      </div>
-->
      <button type="submit" class="btn btn-blue btn-rounded">Save</button>
    </form>
  </div>
</div>

