body {
    background-color: #fff;
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 90%;
    margin-bottom: 100px;
}

.body {
    width: 80%;
    margin: 20px auto;
    padding: 0 0 0 0;
}

article {

}

.author {
    font-style: italic;

}

.abstract {
    font-size: 80%;

}

.title {
    font-weight: bold;

}

h1 {
    font-size: 2.5em;
    margin: 0;
    margin-top: 5px;
    font-family: 'Sigmar One', cursive;
}

header h2 {
    margin: 0;
}

h3 {
    margin-top: 25px;
}

p {
    margin-bottom: 1.143em;
}

* p:last-child {
    margin-bottom: 0;
}

#banner {
    display: block;

}

#banner nav {
    background: #000305;
    font-size: 1.143em;
    height: 40px;
    line-height: 30px;
    margin: 1em auto 2em auto;
    padding: 0;
    text-align: left;

    border-radius: 5px;
}

#banner nav ul {
    list-style: none; 
    margin: 0 auto; 
    padding: 0;
}
#banner nav li {
    float: left; 
    display: inline; 
    margin: 0;
}

#banner nav a:link, 
#banner nav a:visited {
    color: #fff;
    display: inline-block;
    height: 30px;
    padding: 5px 1.5em;
    text-decoration: none;
}

#banner nav a:hover, 
#banner nav a:active,
#banner nav .active a:link, 
#banner nav .active a:visited {
    background: #C74451;
    color: #fff;
    text-shadow: none !important;
}

#banner nav li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#content {
    margin-right:351px;
}

#rightimg {
    float: right;
}

footer {
    clear:both;
    margin: 1em;
    font-size: 0.9em;
    text-align: center;
}

.code {
    font-family: "Courier New", monospace;
    background-color: white;
    padding: 1em;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    overflow:hidden;
}

.code p {
    margin: 0 auto;
}

#secondimg {
    width: 336px;
    margin-top: 25px;
}

#howto {
    clear:both;
}

