{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="SearchApp">
    <head>
        <meta charset="utf-8" />

        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'js/inview.js' %}"></script>
        <script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'bower_components/bootstrap-select/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'bower_components/angular-bootstrap-select/build/angular-bootstrap-select.min.js' %}"></script>
        <script src="{% static 'js/waypoints.min.js' %}"></script>
        <script src="{% static 'bower_components/lodash/lodash.min.js' %}"></script>
        <script src="{% static 'bower_components/raphael/raphael-min.js' %}"></script>
        <script src="{% static 'bower_components/Chart.js/Chart.min.js' %}"></script>
        <script src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
        <script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.min.js' %}"></script>
        <script src="{% static 'bower_components/angular-inview/angular-inview.js' %}"></script>
        <script src="{% static 'js/app/app.min.js' %}"></script>

        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap-select/bootstrap-select.min.css' %}" />
        <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/layout.css' %}" />
        <link rel="stylesheet" href="{% static 'css/animate.css' %}" />

    </head>
    {% verbatim %}
    <body>
      <div ng-view></div>
    </body>
    {% endverbatim %}
</html>
